@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<h2>Despre noi</h2>

<div class="jumbotron">
<p>
    Înființată în 2004, grija pentru pacienții noștri și pasiunea pentru o fizioterapie eficientă înseamnă că veți beneficia de aceeași îngrijire atentă, indiferent de cine sunteți sau de problema dvs.
</p>
<p style="text-align:justify">
    Clinica noastră este specializată în reabilitarea musculo-scheletală, ortopedică, a coloanei vertebrale, reabilitarea sportivă și nu numai.
    <br />
    Experiența noastră este dată de cea mai bună echipă de fizioterapeuți din București, echipă ce aplica tratamente actualizate în domeniul reabilitări/recuperării medicale.
    <br />
    Fizioterapeuții și kinetoterapeuții noștri conlucrează cu doctorii specialiști în recuperare medicala astfel încât să aleagă cele mai indicate programe de recuperare pentru dumneavoastră, pentru a va putea relua activitățile zilnice cât mai rapid posibil dar și pentru a vă menține starea de sănătate.
</p>
</div>