@{
    ViewBag.Title = "Bun venit!";
}


<div class="jumbotron">
    <h1>Clinica Medicala</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<h1>@ViewBag.Title</h1>

@*<div class="row">*@
@*<div class="col-md-4">*@
<!--<div style="text-align:justify">
    <h2>Bun venit!</h2>
    <p>
        Clinica noastră este specializată în reabilitarea musculo-scheletală, ortopedică, a coloanei vertebrale, reabilitarea sportivă și nu numai.
        Experiența noastră este dată de cea mai bună echipă de fizioterapeuți din București, echipă ce aplica tratamente actualizate în domeniul reabilitări/recuperării medicale.
        Fizioterapeuții și kinetoterapeuții noștri conlucrează cu doctorii specialiști în recuperare medicala astfel încât să aleagă cele mai indicate programe de recuperare pentru dumneavoastră, pentru a va putea relua activitățile zilnice cât mai rapid posibil dar și pentru a vă menține starea de sănătate.
    </p>-->
    @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
<!--</div>-->
<!--<div class="col-md-4">
    <h2>Get more libraries</h2>
    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>-->
@*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
<!--</div>
<div class="col-md-4">
    <h2>Web Hosting</h2>
    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>-->
@*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
<!--</div>-->
@*</div>*@